/* CSS Document */
*{
	margin:0px;
	padding:0px;
	
}
body {
	background-color: #D9D9D9;
}
#topnav{
	width:100%;
	position:fixed;
	height:40px;
	left:0;
	top:0;
	background:#F1F1F1;
	z-index:100;
}
#top{
	width:1000px;
	height:40px;
	margin:0 auto;
	position:relative;
	font:12px 黑体;
}
#top a:hover{
	color:red;
	}
#logo{
	position:absolute;
	top:0px;
	left:0px;
}
#logo img{
	width:30px;
	height:30px;
}

#sbmt {
	width: 50px;
	height: 20px;
	font: 12px 楷体;
	text-align: center;	
	transition: all 1s;
	border-radius: 3px;
	cursor: pointer;
}
#sbmt:hover {
	background-color: #FF8023;
}

#bread{
	position:absolute;
	right:8px;
	top:8px;
	}
#toplist{
	margin-left:60px;
	margin-top:8px;
	
}
#toplist li{
	display:inline-block;
	margin:5px;
	
}
#topnav #topform{
	position:absolute;
	top:5px;
	left:400px;
}
#main{
	width:1000px;
	background-image: url(../images/bgMenu.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height:1500px;
	margin:0 auto;
	position:relative;
	top:0px;
}
#banner img{
	width:1000px;
    height:320px;}
#nav {
	background:#e5e4ca;
	}
#nav li{
	display:inline-block;
    width:12.5%;
    text-align:center;
    }
#nav li a{
	display:block;
	padding:10px 0px 6px;
	font:18px 隶书;
	text-decoration: none;
	color:black;
	}
#nav li a:hover{
	background:#ffaa7f;
	border-bottom:4px brown solid;
	padding-bottom:2px;
	}
#nav li a#current{
	background:#ffaa7f;
}
#footer{
	margin-top:0px;
	width:100%;
	background:#333;
	color:white;
	padding:10px;
	}
#footer p{
	text-align:center;
}

.lunbo{
	width: 1000px;
	height: 300px;
	background-color: aqua;
	margin: 0 auto;
	position: relative;
}
/* 轮动 */
.one {
	position: absolute;
	width:1000px;
	height:300px;
	margin:0 auto;
	overflow: hidden;
}
.one_cantent img {
	width:1000px;
	height:310px;
	float: left;
}
.one_cantent {
	width: 5000px;
	height:350px;
	position: absolute;
	left: 0px;
	animation-name: move;
	animation-duration: 20s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
@keyframes move {
	0% {
		left: 0px;
	}
	15% {
		left: 0px;
	}
	20% {
		left: -1000px;
	}
	35% {
		left: -1000px;
	}
	40% {
		left: -2000px;
	}
	55% {
		left: -2000px;
	}
	60% {
		left: -3000px;
	}
	75% {
		left: -3000px
	}
	80% {
		left: -4000px
	}
	100% {
		left: -4000px
	}
}
a{
	color: rgb(26, 26, 219);
}
a:visited{
	color: rgb(26, 26, 219);
}
body{
	background-image: url('../images/bcgimg.jpeg');
;
}